<% provide(:title, "Scoreboard") %>
<h1>Scoreboard - Week <%= @week_number %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <% @users.each do |user| %>
        <th><%= user.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render 'weeks/gen_rows', rows: @player_table, player: true %>
    <% if !@reward_table.empty? %>
      <tr>
        <td colspan="3">
          <p style="text-align: center">Reward</p>
        </td>
      </tr>
      <%= render 'weeks/gen_rows', rows: @reward_table, player: false%>
    <% end %>
    <% if !@immunity_table.empty? %>
      <tr>
        <td colspan="3">
          <p style="text-align: center">Immunity</p>
        </td>
      </tr>
      <%= render 'weeks/gen_rows', rows: @immunity_table, player: false %>
    <% end %>
    <tr>
      <td colspan="3">
        <p style="text-align: center">Week Scores</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <% @score_table.each do |col| %>
        <td>
          <%= col %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
