<h1>Week <%= active_week %> Picksheet</h1>
<div class="row">
  <%= form_tag make_picks_path do %>
    <% @pick_values.each_with_index do |pick, i| %>
      <% if pick[:challenge].name == 'Elimination' %>
        <%= render '/leagues/picksheet/player_elim', players: pick[:players], player_picks: pick[:player_picks]%>
      <% else %>
        <%= render '/leagues/picksheet/team_pick', challenge: pick[:challenge], teams: pick[:teams], team_picks: pick[:team_picks], index: i %>
      <% end %>
    <% end %>
    
    <div class="span9" style="text-align: center; margin-top: 10px">
      <%= submit_tag "Make Picks", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
