<% provide(:title, 'Modify League') %>
<h1>Add players to <%= @league.name %></h1>
<%= form_tag add_players_path do %>
  <%= hidden_field_tag :league_id, @league.id %>
  <% for i in 1..20 %>
    <div class="span2">
      <h3>Player <%= i %></h3>
      <%= label_tag "name_#{i}", "Name" %>
      <%= text_field_tag "name_#{i}" %>
      <%= label_tag "team_#{i}", "Team" %>
      <%= select_tag "team_#{i}", options_for_select(@team_names) %>
      <%= label_tag "bio_#{i}", "Bio Url" %>
      <%= text_field_tag "bio_#{i}" %>
      <%= label_tag "image_#{i}", "Image Url" %>
      <%= text_field_tag "image_#{i}" %>
    </div>
  <% end %>
  <div class="span8">
    <%= submit_tag "Create new league", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
