<% provide(:title, "Scoreboard") %>
<h1>
  Scoreboard - Week <%= @week_number %>
</h1>
<p style="text-align: center">
  <% if @week_number != 1 %>
    <%= link_to "/leagues/#{active_league.id}/week/#{@week_number-1}" do %>
      <i class="icon-search icon-step-backward"></i>
    <% end %>
  <% end %>
  Navigate Weeks
  <%= link_to "/leagues/#{active_league.id}/week/#{@week_number+1}" do %>
    <i class="icon-search icon-step-forward"></i>
  <% end %>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <% @users.each do |user| %>
        <th><%= user.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @challenges.each_with_index do |challenge, i| %>
      <% if challenge.name == "Elimination" %>
        <%= render 'leagues/gen_rows', rows: @tables[i], player: true %>
      <% else %>
        <tr>
          <td>
            <%= @tables[i][0] %>
          </td>
          <% @tables[i].drop(1).each do |content| %>
            <td>
              <% if content != "" %>
                <%= image_tag content, size: "68x68" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
