<% provide(:title, @league.name) %>
<h1><%= @league.name %></h1>
<%= render 'join_league' %>
<% if @league.users.any? %>
  <h3>Users (<%= @league.users.count %>)</h3>
  <ol class="users">
    <% @league.users.each do |user| %>
      <li><%= link_to user.name, user %></li>
    <% end %>
  </ol>
<% end %>
<% if @league.smacks.any? %>
  <h3>Smacks (<%= @league.smacks.count %>)</h3>
  <ol class="smacks">
    <%= render @smacks %>
  </ol>
  <%= will_paginate @smacks %>
<% end %>
