<% provide(:title, @league.name) %>
<h1><%= @league.name %></h1>
<%= render 'join_league' %>
<%= render 'team_list' %>
<%= render 'player_list' %>
<%= render 'user_list' %>
<%= render 'smack_list' %>
