<% if league_smacks.any? %>
  <h3>Smacks (<%= league_smacks.count %>)</h3>
  <ol class="smacks">
    <% league_smacks.each do |smack| %>
      <li id="<%= smack.id %>">
        <span class="user">
          <%= link_to smack.user.name, smack.user %>
        </span>
        <span class="content"><%= smack.content %></span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(smack.created_at) %> ago.
        </span>
      </li>
    <% end %>
  </ol>
<% end %>
