<div class="span4">
  <div class="row">
    <h3>Next Week Challenges</h3>
  </div>
  <div class="row">
    <div class="span2">
      <%= label_tag 'next_week_elimination' do %>
        <%= check_box_tag 'next_week_elimination', 'yes', true %> 
        Player Elimination
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <%= label_tag 'next_week_reward' do %>
        <%= check_box_tag 'next_week_reward', 'yes', true %> 
        Reward
      <% end %>
    </div>
    <div class="span1">
      <%= label_tag 'reward_player' do %>
        <%= check_box_tag 'reward_player', 'yes', true %>
        Player?
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <%= label_tag 'next_week_immunity' do %>
        <%= check_box_tag 'next_week_immunity', 'yes', true %> 
        Immunity
      <% end %>
    </div>
    <div class="span1">
      <%= label_tag 'immunity_player' do %>
        <%= check_box_tag 'immunity_player', 'yes', true %>
        Player?
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= label_tag 'merge' do %>
        <%= check_box_tag 'merge', 'yes', false %> 
        Merge
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <%= text_field_tag 'merge_img_url', nil, placeholder: 'Enter the merge image url here' %>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <%= label_tag 'finale' do %>
        <%= check_box_tag 'finale', 'yes', false %> 
        Is next week the finale?
      <% end %>
    </div>
  </div>
</div>
