<%= form_tag move_week_path do %>
  <div class="row"><h2>Week results</h2></div>
  <div class="row">
    <% @challenges.each do |challenge| %>
      <% if challenge.name == "Elimination" %>
        <%= render 'leagues/admin/eliminated_players' %>
      <% else %>
        <%= render 'leagues/admin/team_winner', challenge: challenge %>
      <% end %>
    <% end %>
  </div>
  <div class="row"><h2>Next Week</h2></div>
  <%= render 'leagues/admin/next_week' %>
  <div class="span8 button_row">
      <%= submit_tag "Move Week", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
