<% if @week < 6 %>
  <div class="span4">
<% else %>
  <div class="span8">
<% end %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Place</th>
        <th>Users</th>
        <% for i in 1..@week %>
          <th><%= i %></th>
        <% end %>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @league.users_by_total_score.each_with_index do |user, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= user.name %></td>
          <% for w in 1..@week %>
            <td><%= user.week_score(w) %></td>
          <% end %>
          <td><%= user.total_score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
