<table class="table table-hover">
  <thead>
    <tr>
      <th>Users</th>
      <% @challenges.each do |challenge| %>
        <% if challenge.name == "Elimination" %>
          <% for i in 1..@players.count %>
            <th><%= i %> (<%= scaled_value(i, @players.count) %>)</th>
          <% end %>
        <% else %>
          <th><%= challenge.name %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @league.users.each do |user| %>
      <tr>
        <td>
          <div><b><%= user.name %></b></div>
          <% if !picksheet_closed? %>
            <div>Week: <%= user.week_score(@week) %></div>
          <% end %>
          <% @challenges.each do |challenge|
               if challenge.name == "Elimination"
                 players = []
                 if user.made_picks?(@week)
                   players = user.players_for_week(@week)
                 else
                   @players.each do |p|
                     players << nil
                   end
                 end
                 
                 players.each do |player| %>
               <%= render 'leagues/scoreboard/cell_display', 
                     object: player,
                     challenge: challenge %>         
            <% end
               else 
                 object = user.pick(challenge) %>
             <%= render 'leagues/scoreboard/cell_display',
                   object: object,
                   challenge: challenge %>
            <% end
             end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
