<div class="span4 challenge_pick_row">
  <div class="span4">
    <h3><%= challenge.name %> Challenge Winner</h3>
    <p>
      Vote for the team you think is going to win the <%= challenge.name %> challenge.
    </p>
  </div>
  <div class="span4">
    <% objects.each do |object| %>
      <div class="span1" style="text-align: center">
        <div>
          <b><%= object.name %></b>
        </div>
        <div>
          <%= image_tag object.image_url, size: "128x128", alt: object.name %>
        </div>
        <div>
          <% if current_user.picked?(challenge,object) %>
            <%= radio_button_tag "select_#{challenge.id}", object.id, checked: true %>
          <% else %>
            <%= radio_button_tag "select_#{challenge.id}", object.id %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
