<h1>Week <%= @league.current_week %> Picksheet</h1>
<div class="row">
  <%= form_tag make_picks_path do %>
    <% @league.current_challenges.each do |c| %>
      <% if c.name == 'Elimination' %>
        <%= render '/leagues/picksheet/player_elim' %>
      <% elsif c.player.nil? || !c.player %>
        <%= render '/leagues/picksheet/challenge_pick', challenge: c, objects: @league.teams_left %>
      <% elsif c.player %>
        <%= render '/leagues/picksheet/challenge_pick', challenge: c, objects: @league.players_left %>
      <% end %>
    <% end %>
    
    <div class="span9" style="text-align: center; margin-top: 10px">
      <%= submit_tag "Make Picks", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
