<div class="span9">
  <h2>Rank Players:</h2>
  <p>
    Rank the players based on the likeliness they will be voted out of the game this week. The lowest number is associated with the player you think is <b>MOST</b> likely to be voted out this week, while the highest number is associated with the <b>LEAST</b> likely player. Only one number can be assigned to each player. So you should have all numbers ranging from 1 to <%= @player_count %>.
  </p>
</div>
<% team_picks.each do |team_pick| %>
  <div class="span9" style="text-align: center">
    <h3><%= team_pick[:team].name %></h3>
    <% team_pick[:player_picks].each do |player_pick| %>
      <% player = player_pick[:player] %>
      <div class="span1" style="text-align: center">
        <b><%= player.name %></b>
        <%= image_tag player.image_url, alt: player.name %>
        <%= number_field_tag "eliminations#{player.id}", player_pick[:value], in: 1..@player_count, class: "number_input" %>
      </div>
    <% end %>
  </div>
<% end %>

