<h1>Preshow Picksheet</h1>
<h2>Select who will win the show:</h2>
<p>
    If you want to do some investigating, click on each player picture to get navigated to their bio page. Make sure to navigate back to this page to make your selection!
</p>
<div class="row">
  <%= form_tag make_pre_picks_path do %>
    <% @league.players.each do |player| %>
      <div class="span2" style="text-align: center; border: solid 1px; margin-top: 10px">
        <div style="margin-top: 10px; margin-bottom: 10px">
          <% if active_league_user.player_id == player.id %>
            <%= radio_button_tag :player_selection, player.id, checked: true %>
          <% else %>
            <%= radio_button_tag :player_selection, player.id %>
          <% end %>
        </div>
        <div>
          <span>
            <%= link_to image_tag( player.image_url, size: "68x85" ), player.info_url %>
          </span>
          <span>
            <%= label_tag :player_selection, player.name %>
          </span>
          <span>
            <%= Team.find(player.team_id).name %>
          </span>
        </div>
      </div>
    <% end %>
    <div class="span12" style="text-align: center; margin-top: 10px">
      <%= submit_tag "Select Survivor", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>
