<div class="span4 team_pick_row">
  <div class="span4">
    <h3><%= challenge.name %> Challenge Winner</h3>
    <p>
      Vote for the team you think is going to win the <%= challenge.name %> challenge.
    </p>
  </div>
  <div class="span4">
    <% @league.teams_left.each do |team| %>
      <div class="span1" style="text-align: center">
        <div>
          <b><%= team.name %></b>
        </div>
        <div>
          <%= image_tag team.image_url, size: "128x128", alt: team.name %>
        </div>
        <div>
          <% if current_user.team_picked?(challenge,team) %>
            <%= radio_button_tag "select_#{challenge.id}", team.id, checked: true %>
          <% else %>
            <%= radio_button_tag "select_#{challenge.id}", team.id %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
