<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= render 'layouts/logo' %> 
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <% if active_league? & (active_week >= 1) %>
              <li>
                <%= link_to "Scoreboard", '/leagues/1/week/1' %>
              </li>
            <% end %>
            <li><%= link_to "Users", users_path %></li>
            <%= render 'layouts/leagues_dropdown' %>
            <%= render 'layouts/user_dropdown' %>
          <% else   %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
