<header>
  <div class="navbar">
    <div class="navbar-inner">
      <%= render 'layouts/logo' %> 
      <ul class="nav pull-right">
        <% if signed_in? %>
          <% if active_league? %>
            <% if !active_league.finished? %>
              <% if current_user.admin? %>
                <li><%= link_to "Admin", admin_path %></li>
              <% end %>
              <% pick_text = "Picksheet"
                if !picksheet_closed? && !current_user.made_picks?(active_week)
                  pick_text += " <span class=\"badge badge-important\"><i class=\"icon-flag icon-white\"></i></span>"
                end %>
              <li><%= link_to pick_text.html_safe, picksheet_path %></li>
            <% end %>
            <li><%= link_to "Scoreboard", scoreboard_path %></li>
          <% end %>
          <li><%= link_to "Users", users_path %></li>
          <%= render 'layouts/leagues_dropdown' %>
          <%= render 'layouts/user_dropdown' %>
        <% else   %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
